@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth text-[87.5%] md:text-[93.75%] lg:text-[100%];
}

body {
  -webkit-font-smoothing: antialiased;
}
#__next {
  @apply flex w-full grow flex-col;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid #46aaff;
  -webkit-text-fill-color: #f5f5f5;
  -webkit-box-shadow: 0 0 0px 1000px #2b2b2b inset;
  transition: background-color 5000s ease-in-out 0s;
}
